<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/imagens">

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icons/sandro.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.jpeg">
  <meta name="theme-color" content="#ffffff">
  <title>Litoral Norte Software</title>

  <title>Empresa</title>
  <style>
    .produto-card {
      display: inline-block;
      margin: 10px;
      border: 1px solid #ccc;
      padding: 10px;
    }

    #carrinho {
      border: 1px solid #000;
      padding: 10px;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <header>
    <div class="container-1"> 
      <div class="logo-header">
        <img class="imagem-logo" src="/imagens/imagem-logo.png" alt="logo">
        <h1 class="title-header">Litoral Norte Software</h1>
        <p class="subtitle-header">Soluções em Software para Você!</p>
      </div>
      <div class="card-header">
        <div class="header-banner">
          <div class="header-3-1">
            <img src="/imagens/imagem1.jpg" alt="Imagem 1" class="banner-image">
            <img src="/imagens/imagem3.jpg" alt="Imagem 3" class="banner-image">
            <img src="/imagens/imagem4.jpg" alt="Imagem 4" class="banner-image">
          </div>
        </div>
      </div>
     
    </div>
  </header>

  <main>
    <div class="container-2">
      <section class="produto">
        <div class="produto-card">
          <a href="/imagens/1.zip" download>
            <img src="/imagens/imagem61.png" alt="Produto 1" />
          </a>
          <div class="produto-preco">
            <p>Caça-palavra</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://caca-palavra-xxun.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/2.zip" download>
            <img src="/imagens/imagem7.png" alt="Produto 2" />
          </a>
          <div class="produto-preco">
            <p>Buscador</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://buscador-09oo.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/3.zip" download>
            <img src="/imagens/imagem8.png" alt="Produto 3" />
          </a>
          <div class="produto-preco">
            <p>Imagem-para-texto</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://imagem-para-texto.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/4.zip" download>
            <img src="/imagens/imagem9.png" alt="Produto 4" />
          </a>
          <div class="produto-preco">
            <p>Contador de Porcentagem</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://contador-porcentagem.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/5.zip" download>
            <img src="/imagens/imagem10.jpg" alt="Produto 5" />
          </a>
          <div class="produto-preco">
            <p>Editor de Cores</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://colorpixels.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/6.zip" download>
            <img src="/imagens/imagem11.png" alt="Produto 6" />
          </a>
          <div class="produto-preco">
            <p>Envio de Mensagens</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://socket-3er3.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/7.zip" download>
            <img src="/imagens/imagem12.png" alt="Produto 7" />
          </a>
          <div class="produto-preco">
            <p>Conversor de Bases</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://conversao-de-bases.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/7.zip" download>
            <img src="/imagens/imagem13.png" alt="Produto 88" />
          </a>
          <div class="produto-preco">
            <p>Software</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://software-s3z2.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
        <div class="produto-card">
          <a href="/imagens/9.zip" download>
            <img src="/imagens/imagem14.png" alt="Produto 9" />
          </a>
          <div class="produto-preco">
            <p>Snake</p>
            <p>R$ <span class="preco">0.00</span></p>
            <button onclick="window.open('https://snake-ahom.onrender.com', '_blank')">
              Abrir Aplicação
            </button>
          </div>
        </div>
      </section>
    </div>
  </main>

  <footer>
    <div class="container-3">
      <div class="footer">
        <div class="column">
          <h3>Contatos</h3>
          <ul>
            <li>Telefone: (12) 99148-5333 
              <a href="https://wa.me/55129975910549" target="_blank">
                <img src="/images/whatsapp.png" class="f">
              </a></li>
            <li>Telefone: (12) 97812-2063
             
            </li>
            <li>Email: litoralnortesoftware@hotmail.com</li>
            <li>Gmail: litoralnortesoftware@gmail.com</li>
          </ul>
        </div>
        <div class="column">
          <h3>Endereço</h3>
          <ul>
            <li>litoralnortesoftware.com.br</li>
            <li>Rua Maria F. de Moura, Nº 121</li>
            <li>Bairro Tinga</li>
            <li>Caraguattuba - São Paulo, CEP 11674-760</li>
          </ul>
        </div>
        <div class="column">
          <h3>Links Rápidos</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Política de Privacidade</a></li>
          </ul>
        </div>
        <div class="column">
          <h3>Redes Sociais</h3>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        < /> &copy;2026 litoralnortesoftware: Todos os direitos reservados.
      </div>
    </div>
  </footer>

  <!-- <div id="carrinho"
    style="position:fixed;bottom:20px;right:20px;background:#fff;border:1px solid #ccc;padding:10px;border-radius:10px;width:250px;z-index:999;">
    <h2>Carrinho</h2>
    <ul id="itens"></ul>
    <p>Total: R$ <span id="total">0.00</span></p>
    <button id="finalizar-pix">Finalizar e pagar com Pix</button>
    <div id="qrcode-pix"></div>
  </div> -->

  <script src="https://cdn.jsdelivr.net/npm/faz-um-pix/lib/faz-um-pix.min.js"></script>
  <script>
    const itens = [];
    let total = 0;

    function adicionarCarrinho(nome, preco) {
      itens.push({ nome, preco });
      total += preco;
      atualizarCarrinho();
    }

    function atualizarCarrinho() {
      const lista = document.getElementById("itens");
      lista.innerHTML = "";
      itens.forEach(item => {
        const li = document.createElement("li");
        li.textContent = `${item.nome} - R$ ${item.preco.toFixed(2)}`;
        lista.appendChild(li);
      });
      document.getElementById("total").textContent = total.toFixed(2);
    };
  </script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
            .then(() => console.log('Service Worker registrado com sucesso!'))
            .catch(err => console.log('Erro ao registrar Service Worker:', err));
        }
    </script>
</body>

</html>
